/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    /*position: relative;*/
    min-height: 100%;
}

body {
    font-family: 'Lato', sans-serif !important;
    /* Margin bottom by footer height */
    /*margin-bottom: 60px;*/
    height: 100% !important; /*Added style*/
    background: #cccccc14;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

/* My Styles 
-------------------------------------------------- */

#header {
    position: fixed !important;
    top: 0;
    left: 0;
    right: 0;
    height: 70px !important;
    z-index: 9;
}

header a {
    /*color: #0366d6;*/
    color: #fff !important;
    font-weight: bold;
}

nav {
    background: #007bffc9 !important;
}

#fluid {
    padding-top: 56px !important;
}

.row {
    max-width: 100%;
    margin: auto;
}

#leagues,
#standings,
#main {
    padding: .5rem 0;
}

.timestamp {
    font-style: italic;
    font-size: 10px;
}

#main .row a {
    text-decoration: none;
    color: #000 !important;
    width: 100%;
}

#main .row a:hover {
    background-color: #00000014;
}

i:hover {
    cursor: pointer;
}

.details {
    padding: 0 !important;
}

.row,
main {
    margin: 0 !important;
}

.row i {
    color: #007bffc9;
}

.liked {
    color: red !important;
}

.bg-light {
    background: #fff !important;
}

.row .user-name {
    color: red !important;
    font-weight: bold;
}

.hidden-link {
    display: none;
}

.ex-login-btns .card-title:nth-child(2) button {
    background-color: #007bffc9 !important;
    color: #fff !important;
}

.full {
    display: block;
    width: 100% !important;
}

footer {
    position: relative !important;
    padding-bottom: .5rem !important;
}

@media screen and (max-width: 768px) {
    #leagues,
    #standings {
        display: none !important;
    }

    img {
        width: 100% !important;
        margin: auto !important;
    }

    .box1 {
        width: 20%;
    }

    .box2 {
        width: 80%;
    }

    .box2 a {
        width: 100% !important;
    }

    .profile-img {
        width: 60%;
        margin: auto;
    }

    .hidden-link {
        display: block;
    }
}

@media screen and (max-width: 420px) {
    .logout {
        width: auto !important;
    }

    .container-fluid {
        padding: 0.5rem !important;
        width: 100%;
    }

    .col-md-12 {
        width: 100%;
        padding: 0.5rem;
    }

    .image-popup {
        width: 50%;
        margin: auto;
    }
}