<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header h5">
                    Leagues
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="England" class="full">EPL</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Spain" class="full">La Liga</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Germany" class="full">Bundesliga</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Netherland" class="full">Eredivisie</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Italy" class="full">Serie A</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="France" class="full">Ligue 1</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Nigeria" class="full">NPFL</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="South Africa" class="full">ABSA</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Belgium" class="full">Super League</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="International" class="full">Champions League</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Belgium" class="full">Pro League</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>