<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header h5">
                    Leagues
                </div>
                <div class="card-body">
                    <ul class="list-group">
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="England">EPL</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Spain">La Liga</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Germany">Bundesliga</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Netherland">Eredivisie</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Italy">Serie A</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="France">Ligue 1</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Nigeria">NPFL</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="South Africa">ABSA</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Belgium">Super League</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="International">Champions League</a></li>
                        <li class="list-group-item"><a asp-controller="Post" asp-action="FilterPost" asp-route-country="Belgium">Pro League</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>